@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  user-select: none;
}
ul{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}
.container{
	background: #ed1d24;
	min-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}
.swiper-container{
	height: 100vh;
	width: 80%;
}
.swiper-wrapper{
	align-items: center;
}
.swiper-slide{
	height: 500px;
	max-width: 320px;
	margin: 20px 10px;
	padding: 10px 25px;
	border-radius: 10px;
	background-color: #f1f1f1;
	box-shadow: 3px 8px 20px rgba(0,0,0,.3);
	display: flex;
	align-items: center;
	flex-direction: column;
	box-sizing: border-box;
	transition: .3s ease-in-out;
	/*cursor: pointer;*/
	overflow: hidden;
}
.swiper-slide:hover{
	background-color: #07070d;
	transition: all .3s ease;
}
.swiper-slide-active{
	background-color: #07070d;
	transform-style: preserve-3d;
	transform: scale(1.07);
	transition: all .3s ease;
}
.swiper-slide .marvel{
	position: relative;
	top: 0;
	left: 10px;
	height: 35px;
	max-width: 100%;
	max-height: 100%;
}
.swiper-slide .hero{
	position: relative;
	margin: 30px 0;
	height: 350px;
	max-width: 100%;
	max-height: 100%;
	transform: scale(1.1);
	animation: anim 1.5s linear;
}
.swiper-slide-active .hero{
	transform: scale(.8);
	margin: -10px 0;
	transition: .5s ease-in-out;
	transition-delay: .6s;
}
.description{
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 300px;
	opacity: 0;
	visibility: hidden;
	display: none;
}
.description p{
	color: #6a6a74;
	margin-top: 20px;
	text-align: center;
	font-weight: bold;
}
.swiper-slide:hover .description,
.swiper-slide-active .description{
	margin: 0;
	display: flex;
	opacity: 1;
	visibility: visible;
	/*transition: all .5s ease;
	transition-delay: .5s;*/
}
.swiper-slide .logo{
	height: 40px;
}
.swiper-slide .logo.ant{
	filter: invert(.9);
}
.swiper-slide-active .logo.ant{
	filter: invert(0);
	transition: .5s ease-in-out;
}
.swiper-slide .logo.sm{
	filter: invert(.1);
}
.swiper-slide-active .logo.sm{
	filter: invert(1);
}
@keyframes anim{
	0%,20%{
		opacity: 0;
		margin: 10px 0;
		transform: scale(0.2);
	}
	40%{
		opacity: 0.5;
		margin: 20px 0;
		transform: scale(0.5);
	}
	60%{
		opacity: .8;
		margin: 30px 0;
		transform: scale(0.8);
	}
	100%{
		opacity: 1;
		margin: 30px 0;
		transform: scale(1.1);
	}
}

/*pagination*/
.swiper-pagination{
	/*height: 30px;*/
	margin-bottom: 15px;
}
.swiper-pagination .swiper-pagination-bullet{
	width: 8px;
	height: 6px;
	/*padding: 2px 4px;*/
	border-radius: 10px;
	background-color: #fff;
	transition: all ease .5s;
}
.swiper-pagination .swiper-pagination-bullet-active{
	width: 20px;
	/*padding: 2px 12px;*/
}

/*controls*/
.swiper-button-next,
.swiper-button-prev{
	color: #fff;
	opacity: .5;
	outline: none;
	border: none;
	margin: -25px 10px;
}
.swiper-button-next:hover,
.swiper-button-prev:hover{
	opacity: 1;
}